In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("data.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
from sklearn.preprocessing import normalize
Amount = normalize([df['Amount']])[0]
df['Amount'] = Amount
df = df.iloc[:, 1:]
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [6]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

X = df.drop('Class', axis=1)
y = df['Class']


oversampler = RandomOverSampler()



x_over, y_over = oversampler.fit_resample(X, y)


print(y_over.value_counts())

0    763
1    763
Name: Class, dtype: int64

In [7]:
r_df = pd.concat([x_over, y_over], axis=1)
r_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1
1522,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1523,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,-2.772272,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.000000,1
1524,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,0.000463,1
1525,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1

In [8]:
n = int((1.96*1.96 * 0.5*0.5)/(0.05**2))
sampled_df = r_df.sample(n=n, random_state=42)
print(sampled_df)

            V1        V2        V3        V4        V5        V6        V7  \
1439 -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788  0.269083
76   -0.549626  0.418949  1.729833  0.203065 -0.187012  0.253878  0.500894
1010 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545 -2.537387
660   1.255439  0.307729  0.292700  0.699873 -0.428876 -1.088456  0.043840
1132 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262 -2.110183
...        ...       ...       ...       ...       ...       ...       ...
1481 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262 -2.110183
756  -0.203837  0.532747 -0.339857 -0.730934  2.728163  3.535882  0.263680
1074 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262 -2.110183
867   1.254914  0.350287  0.302488  0.693114 -0.371470 -1.070256  0.086781
485   1.021392  0.155451 -0.312291  0.961407  0.548611  0.121816  0.525318

            V8        V9       V10  ...       V21       V22       V23  \
1439  0.140631  0.023464 -0.066407  ... -0.179545 -0.192036 -0.261879
76    0.251256 -0.227985 -0.576169  ...  0.115062  0.418529 -0.065133
1010  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049 -0.465211
660  -0.167739  0.128854 -0.264062  ... -0.294795 -0.882126  0.136846
1132  0.788347  0.958809 -0.328631  ...  0.422452  1.195394  0.297836
...        ...       ...       ...  ...       ...       ...       ...
1481  0.788347  0.958809 -0.328631  ...  0.422452  1.195394  0.297836
756   0.919169 -0.194501 -0.585054  ... -0.082087 -0.271636 -0.157778
1074  0.788347  0.958809 -0.328631  ...  0.422452  1.195394  0.297836
867  -0.202836  0.035154 -0.282617  ... -0.287592 -0.832682  0.128083
485  -0.053891 -0.686867  0.113059  ... -0.224762 -0.850712 -0.077845

           V24       V25       V26       V27       V28    Amount  Class
1439 -0.237477 -0.335040  0.240323 -0.345129 -0.383563  0.000172      1
76    0.264981  0.003958  0.395969  0.027182  0.043506  0.010316      0
1010  0.320198  0.044519  0.177840  0.261145 -0.143276  0.000000      1
660   0.327949  0.194459  0.096516 -0.027271  0.029491  0.000340      0
1132 -0.857105 -0.219322  0.861019 -0.124622 -0.171060  0.000258      1
...        ...       ...       ...       ...       ...       ...    ...
1481 -0.857105 -0.219322  0.861019 -0.124622 -0.171060  0.000258      1
756   0.989458  0.228821 -0.545156  0.058120  0.035573  0.002218      0
1074 -0.857105 -0.219322  0.861019 -0.124622 -0.171060  0.000258      1
867   0.339427  0.215944  0.094704 -0.023354  0.030892  0.000463      1
485  -0.679775  0.484478 -0.605930 -0.005454  0.019392  0.018206      0

[384 rows x 30 columns]

In [10]:
# systematic sampling

interval = 3
systematic_df = r_df.iloc[::interval]
systematic_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1515,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1518,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1521,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1
1524,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,0.000463,1

In [11]:


n = int((1.96*1.96 * 0.5*0.5)/((0.05)**2))

strata = r_df.groupby('Class')


stratified_df = strata.apply(lambda x: x.sample(n))

stratified_df

                  V1        V2        V3        V4        V5        V6  \
Class
0     448   1.409186 -0.383686  0.256252 -0.703150 -0.763574 -0.732257
      515   1.158923  0.165064  0.507316  0.456052 -0.193600 -0.180777
      406   1.123311 -0.170142  0.898773  1.572445 -0.727421  0.226641
      641  -0.517981  0.723072  1.401196  0.772313  0.671651  0.847780
      79   -0.671709  0.594503  0.216416 -0.867311  2.966908  3.632495
...              ...       ...       ...       ...       ...       ...
1     1051  0.073497  0.551033  0.451890  0.114964  0.822947  0.251480
      1226 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
      1126 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
      1193  1.254914  0.350287  0.302488  0.693114 -0.371470 -1.070256
      1043 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262

                  V7        V8        V9       V10  ...       V21       V22  \
Class                                               ...
0     448  -0.350658 -0.285738 -1.032103  0.629431  ... -0.498190 -0.918542
      515  -0.070487  0.046688 -0.302918  0.038973  ... -0.166915 -0.476946
      406  -0.522651  0.285407  1.173965 -0.194915  ... -0.109955 -0.032197
      641   0.352294  0.224071 -2.314242  0.941669  ... -0.374926 -0.737659
      79    0.563295  0.673026 -0.188766 -0.404378  ... -0.136441 -0.300362
...              ...       ...       ...       ...  ...       ...       ...
1     1051  0.296319  0.139497 -0.123050 -0.142617  ... -0.128758 -0.381932
      1226  0.325574 -0.067794 -0.270953 -0.838587  ...  0.661696  0.435477
      1126 -2.537387  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049
      1193  0.086781 -0.202836  0.035154 -0.282617  ... -0.287592 -0.832682
      1043 -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394

                 V23       V24       V25       V26       V27       V28  \
Class
0     448   0.055548 -0.067339  0.208495  0.929543 -0.047751  0.010905
      515   0.139460  0.028225  0.130464  0.104225 -0.014329  0.008026
      406  -0.044257  0.042350  0.547190 -0.250556  0.060741  0.017700
      641  -0.391401 -1.420024  0.435491  0.192061  0.051327  0.052402
      79   -0.331692  0.996382  0.502469 -0.518043 -0.208276 -0.116048
...              ...       ...       ...       ...       ...       ...
1     1051  0.151012 -1.363967 -1.389079  0.075412  0.231750  0.230171
      1226  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764
      1126 -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
      1193  0.128083  0.339427  0.215944  0.094704 -0.023354  0.030892
      1043  0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060

              Amount  Class
Class
0     448   0.002965      0
      515   0.001718      0
      406   0.000860      0
      641   0.001286      0
      79    0.002545      0
...              ...    ...
1     1051  0.000170      1
      1226  0.090968      1
      1126  0.000000      1
      1193  0.000463      1
      1043  0.000258      1

[768 rows x 30 columns]

In [12]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=8, random_state=40).fit(r_df)
cluster_a = kmeans.labels_
selected_clusters = [0, 2, 4]
cluster_series = pd.Series(cluster_a)
cluster_df = r_df[cluster_series.isin(selected_clusters)]

In [14]:
# convenience sampling
convenience_df = pd.concat([r_df.head(350), r_df.tail(350)])
convenience_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1
1522,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1523,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,-2.772272,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.000000,1
1524,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,0.000463,1
1525,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1

In [15]:
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.linear_model import LogisticRegression as LR
from sklearn.naive_bayes import GaussianNB as NB
from sklearn.tree import ExtraTreeClassifier as ET

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as ac
import numpy as np
tr_simple,t_simple,ytr_simple,yt_simple=train_test_split(sampled_df.drop(["Class"],axis=1),sampled_df.Class,test_size=0.2)
tr_systematic, t_systematic, ytr_systematic, yt_systematic = train_test_split(systematic_df.drop(["Class"], axis=1), systematic_df.Class, test_size=0.2)

tr_stratified, t_stratified, ytr_stratified, yt_stratified = train_test_split(stratified_df.drop(["Class"], axis=1), stratified_df.Class, test_size=0.2)
tr_cluster, t_cluster, ytr_cluster, yt_cluster = train_test_split(cluster_df.drop(["Class"], axis=1), cluster_df.Class, test_size=0.2)
tr_convenience, t_convenience, ytr_convenience, yt_convenience = train_test_split(convenience_df.drop(["Class"], axis=1), convenience_df.Class, test_size=0.2)

In [17]:
# Simple
simple = pd.DataFrame(columns=['DT', 'RF', 'LR', 'ET', 'NB'])
li = []
dt = DT()
dt.fit(tr_simple, ytr_simple)
p = dt.predict(t_simple)
li.append(ac(yt_simple, p))

rf = RF()
rf.fit(tr_simple, ytr_simple)
p = rf.predict(t_simple)
li.append(ac(yt_simple, p))


lr = LR()
lr.fit(tr_simple, ytr_simple)
p = lr.predict(t_simple)
li.append(ac(yt_simple, p))


et = ET()
et.fit(tr_simple, ytr_simple)
p = et.predict(t_simple)
li.append(ac(yt_simple, p))

nb = NB()
nb.fit(tr_simple, ytr_simple)
p = nb.predict(t_simple)
li.append(ac(yt_simple, p))

simple.loc[len(simple.index)] = li

In [18]:
# Systematic
systematic = pd.DataFrame(columns=['DT', 'RF', 'LR', 'ET', 'NB'])
li = []
dt = DT()
dt.fit(tr_systematic, ytr_systematic)
p = dt.predict(t_systematic)
li.append(ac(yt_systematic, p))

rf = RF()
rf.fit(tr_systematic, ytr_systematic)
p = rf.predict(t_systematic)
li.append(ac(yt_systematic, p))


lr = LR()
lr.fit(tr_systematic, ytr_systematic)
p = lr.predict(t_systematic)
li.append(ac(yt_systematic, p))


et = ET()
et.fit(tr_systematic, ytr_systematic)
p = et.predict(t_systematic)
li.append(ac(yt_systematic, p))

nb = NB()
nb.fit(tr_systematic, ytr_systematic)
p = nb.predict(t_systematic)
li.append(ac(yt_systematic, p))

systematic.loc[len(systematic.index)] = li

In [19]:
print(systematic)

         DT   RF        LR        ET        NB
0  0.960784  1.0  0.843137  0.970588  0.705882

In [20]:
# Cluster
cluster = pd.DataFrame(columns=['DT', 'RF', 'LR', 'ET', 'NB'])
li = []
dt = DT()
dt.fit(tr_cluster, ytr_cluster)
p = dt.predict(t_cluster)
li.append(ac(yt_cluster, p))

rf = RF()
rf.fit(tr_cluster, ytr_cluster)
p = rf.predict(t_cluster)
li.append(ac(yt_cluster, p))


lr = LR()
lr.fit(tr_cluster, ytr_cluster)
p = lr.predict(t_cluster)
li.append(ac(yt_cluster, p))


et = ET()
et.fit(tr_cluster, ytr_cluster)
p = et.predict(t_cluster)
li.append(ac(yt_cluster, p))

nb = NB()
nb.fit(tr_cluster, ytr_cluster)
p = nb.predict(t_cluster)
li.append(ac(yt_cluster, p))

cluster.loc[len(cluster.index)] = li

In [21]:
#Stratified


stratified = pd.DataFrame(columns=['DT', 'RF', 'LR', 'ET', 'NB'])
li = []
dt = DT()
dt.fit(tr_stratified, ytr_stratified)
p = dt.predict(t_stratified)
li.append(ac(yt_stratified, p))

rf = RF()
rf.fit(tr_stratified, ytr_stratified)
p = rf.predict(t_stratified)
li.append(ac(yt_stratified, p))


lr = LR()
lr.fit(tr_stratified, ytr_stratified)
p = lr.predict(t_stratified)
li.append(ac(yt_stratified, p))


et = ET()
et.fit(tr_stratified, ytr_stratified)
p = et.predict(t_stratified)
li.append(ac(yt_stratified, p))

nb = NB()
nb.fit(tr_stratified, ytr_stratified)
p = nb.predict(t_stratified)
li.append(ac(yt_stratified, p))

stratified.loc[len(stratified.index)] = li

In [22]:
#Convenience
convenience=pd.DataFrame(columns=['DT','RF','LR','ET','NB'])
li=[]
dt = DT()
dt.fit(tr_convenience, ytr_convenience)
p = dt.predict(t_convenience)
li.append(ac(yt_convenience, p))

rf = RF()
rf.fit(tr_convenience, ytr_convenience)
p = rf.predict(t_convenience)
li.append(ac(yt_convenience, p))


lr = LR()
lr.fit(tr_convenience, ytr_convenience)
p = lr.predict(t_convenience)
li.append(ac(yt_convenience, p))


et = ET()
et.fit(tr_convenience, ytr_convenience)
p = et.predict(t_convenience)
li.append(ac(yt_convenience, p))

nb = NB()
nb.fit(tr_convenience, ytr_convenience)
p = nb.predict(t_convenience)
li.append(ac(yt_convenience, p))

convenience.loc[len(convenience.index)] = li

In [23]:
convenience

    DT   RF        LR        ET        NB
0  1.0  1.0  0.957143  0.978571  0.842857

In [24]:
stratified

         DT   RF       LR        ET        NB
0  0.993506  1.0  0.88961  0.974026  0.779221

In [25]:
simple

         DT   RF        LR        ET        NB
0  0.987013  1.0  0.844156  0.974026  0.753247

In [26]:
cluster

         DT   RF   LR   ET   NB
0  0.958333  1.0  1.0  1.0  1.0

In [27]:
systematic

         DT   RF        LR        ET        NB
0  0.960784  1.0  0.843137  0.970588  0.705882